key.txt
.diseases_model/
outputs/
logs/
*.pyc
.env
.vscode/
.ipynb_checkpoints/
data/
notebooks/
lab_results/
venv/
.venv/
.DS_Store
template.*
__pycache__/
template/
*.bin
*.h5
*.ckpt
*.log
*.csv
*.xlsx
*.zip
*.tar.gz
*.pkl
*.pt
*.pth
*.onnx
*.pb
*.tflite
*.ipynb
*.ipynb_checkpoints/
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.pdf
