aiohttp
beautifulsoup4
bcrypt==4.3.0
chromadb
duckdb
faiss-cpu
fastapi
fastapi_cors
fuzzywuzzy
google-ai-generativelanguage
huggingface-hub
httpx
langchain
langchain-chroma
langchain-core
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langgraph
langsmith
motor
numpy
onnxruntime
orjson
pandas
passlib
pdfminer.six
pdfplumber
pillow
pymongo
python-dotenv
python-jose
python-multipart
PyYAML
pydantic[email]
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
SQLAlchemy
starlette
tenacity
tokenizers
tqdm
transformers
typing_extensions
uvicorn
uvloop
watchfiles
websockets
zstandard
