venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.DS_Store
.idea/
*.iml
*.sublime-project
*.sublime-workspace
*.vscode/
*.env
.env.*
*.bak
*.tmp
*.swp
*.swo
*.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/
*.egg
cached_models/
chroma_db/
lab_report.md
lab_report2.md
samplePmedReport.pdf